{% load wagtailcore_tags wagtailimages_tags %}
{% load static %}
<section class="tp-section--default tp-banner tp-banner--bot tp-banner--logo tp-banner--overl-2 bg-img">
    <picture>
        {% image self.background_image width-1900 format-webp as image_webp %}
        <source data-srcset="{{ image_webp.url }}" type="image/webp" media="(min-width: 451px)" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
        {% image self.background_image_mobile width-450 format-webp as image_webp %}
        <source data-srcset="{{ image_webp.url }}" type="image/webp" media="(max-width: 450px)" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
        {% image self.background_image width-1900 format-jpeg as image_jpeg %}
        <source data-srcset="{{ image_jpeg.url }}" type="image/jpeg" media="(min-width: 451px)" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
        {% image self.background_image_mobile width-450 format-jpeg as image_jpeg %}
        <source data-srcset="{{ image_jpeg.url }}" type="image/jpeg" media="(max-width: 450px)" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
        {% image self.background_image width-1900 as img %}
        <img data-src="{{ img.url }}" alt="trailersplus youtube" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
    </picture>
    <a href="{{ self.youtube_link }}" class="tp-banner__play tp-btn tp-btn--play d-tabl-none js-popup" data-type="iframe" aria-label="Open video"></a>
    <div class="container c-white t-center">
        <div class="h3 c-white">{{ self.text_area_1 }}</div>
        <a href="{{ self.youtube_link }}" class="tp-banner__play tp-btn tp-btn--play d-desk-none js-popup" data-type="iframe" aria-label="Open video"></a>
        <h1 class="h1 c-white margin-10t margin-0b br-lg ">{{ self.text_area_2 }}</h1>
    </div>
    <div class="tp-banner__logo">
        <picture>
            {% image self.background_image_logo width-111 format-webp as image_webp %}
            <source data-srcset="{{ image_webp.url }}" type="image/webp" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
            {% image self.background_image_logo width-111 format-png as image_png %}
            <source data-srcset="{{ image_png.url }}" type="image/png" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
            {% image self.background_image_logo width-111 as img %}
            <img data-src="{{ img.url }}" alt="trailersplus logo" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
        </picture>
    </div>
</section>